.galery {
  //   margin: 0 auto;
  position: relative;
  @include verticalCenter;
  flex-wrap: wrap;
  width: 100%;
  min-height: 70vh;
  h1 {
    width: 100%;
    text-align: center;
    margin: 2% auto 2% auto;
  }
}
