.projectShow {
  width: 90%;
  padding: 2%;
  height: 70vh;
  margin: 2% 5%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.336);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  .leftContains {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    span {
      color: rgb(248, 64, 40);
    }
    ul {
      @include verticalCenter;
      li {
        @include verticalCenter;
        margin: 2%;
        &:hover {
          color: rgb(248, 64, 40);
        }
        i {
          padding: 10px;
          font-size: 2em;

          animation: rotation 4s infinite linear;
          transform-origin: center center;

          @keyframes rotation {
            from {
              transform: rotateY(0deg);
            }
            to {
              transform: rotateY(360deg);
            }
          }
        }
      }
    }
  }
  .rightContains {
    width: 50%;
  }
}
