.projectShow {
  width: 90%;
  padding: 1% 2%;
  height: 100%;
  margin: 1% 5% 0 5%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.336);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  @media screen and (max-width: 850px) {
    flex-direction: column-reverse;
  }

  .leftContains {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: Poppins;
    font-size: 0.7em;
    font-weight: 200;
    line-height: 18px;
    @media screen and (max-width: 850px) {
      width: 100%;
    }
    h2 {
      text-align: center;
      font-family: Manga;
      font-size: 2em;
      padding-bottom: 2%;
    }
    h3 {
      padding-bottom: 1%;
    }
    span {
      color: $color-1;
      font-family: Manga;
      font-size: 18px;
    }
    ul {
      @include verticalCenter;
      li {
        @include verticalCenter;
        margin: 2%;
        &:hover {
          color: $color-3;
        }
        i {
          padding: 10px;
          font-size: 2em;

          animation: rotation 4s infinite linear;
          transform-origin: center center;

          @keyframes rotation {
            from {
              transform: rotateY(0deg);
            }
            to {
              transform: rotateY(360deg);
            }
          }
        }
      }
    }
  }
  .rightContains {
    width: 50%;
    figcaption {
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
