.home {
  margin: 0 auto;
  overflow: hidden;
  letter-spacing: 2px;
  padding: 1% 5% 1% 5%;
  width: 100%;
  min-height: 70vh;
  @include verticalCenter;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    height: 100%;
  }

  .left-contain {
    @include verticalCenter;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    @media screen and (max-width: 900px) {
      width: 100%;
      justify-content: center;
      //   height: 20vh;
    }

    .imagePic {
      width: 100%;
      height: 100%;
      max-width: 500px;
      max-height: 400px;
      background: url("../../assets/photoPortfolio/profile-portfolio.png")
        center/contain no-repeat;
      min-height: 50vh;
      @media screen and (max-width: 900px) {
        width: 100%;
        height: 50vh;
      }
    }

    .rollerLeft {
      animation-name: rollerLeft;
      -webkit-animation-name: rollerLeft;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      -webkit-animation-timing-function: ease;
      -webkit-animation-iteration-count: 1;
      animation-fill-mode: forwards;
      @media screen and (max-width: 900px) {
        animation-name: floater;
        -webkit-animation-name: floater;
        animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;

        .floater {
          animation-iteration-count: infinite;
        }
        @keyframes floater {
          0%,
          100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(8%);
          }
        }

        @-webkit-keyframes floater {
          0%,
          100% {
            -webkit-transform: translateY(0);
          }
          50% {
            -webkit-transform: translateY(8%);
          }
        }
      }
    }

    .rollerLeft {
      -webkit-animation-fill-mode: forwards;
    }
    @keyframes rollerLeft {
      0% {
        transform: translateX(1500px) rotate(0);
        opacity: 0;
      }
      100% {
        transform: translateX(0) rotate(-2turn);
        opacity: 1;
      }
    }
    @-webkit-keyframes rollerLeft {
      0% {
        -webkit-transform: translateX(1500px) rotate(0);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0) rotate(-2turn);
        opacity: 1;
      }
    }

    .slideLeft {
      animation-name: slideLeft;
      -webkit-animation-name: slideLeft;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease;
    }
  }

  .right-contain {
    width: 60%;
    //: flex;
    flex-direction: column;
    //justify-content: center;
    animation-name: fondue;
    animation-duration: 2.5s;
    @keyframes fondue {
      0% {
        transform: translatex(1000px) rotate(0);
        opacity: 0;
      }
      100% {
        transform: translatex(0) rotate(0);
        opacity: 1;
      }
    }
    @media screen and (max-width: 900px) {
      width: 100%;
      animation-name: animBottom;
      animation-duration: 3s;
      @keyframes animBottom {
        0% {
          transform: translateY(200px) rotate(0);
          opacity: 0;
        }
        100% {
          transform: translatex(0) rotate(0);
          opacity: 1;
        }
      }
    }
    h2 {
      font-size: 1.5em;
      padding-bottom: 8%;
      @media screen and (max-width: 450px) {
        font-size: 1em;
      }
      @media screen and (max-width: 400px) {
        font-size: 0.8em;
      }
    }

    p {
      font-family: Ppppins;
      font-weight: 500;
      font-size: 1em;
      line-height: 150%;
      text-align: justify;
      @media screen and (max-width: 1200px) {
        font-size: 0.9em;
        line-height: 130%;
      }
      @media screen and (max-width: 900px) {
        font-size: 0.8em;
        line-height: 110%;
      }
      @media screen and (max-width: 400px) {
        font-size: 0.7em;
      }
    }
  }
}
